pre {
	overflow-x: auto;
	tab-width: 8;
	padding: var(--size-pre-padding);
	border: 2px solid var(--color-gray);
	border-radius: 0.5rem;
}

li + li {
	margin-top: var(--size-list-space);
}

blockquote {
	padding: 1rem;
	border-inline-start: 4px solid gray;
	background-color: #dee2e6;
	font-style: italic;
}
