.nav {
	padding-block-end: 0.5rem;
	padding-block-start: 0.5rem;
	
	border-bottom: 1px solid var(--color-dark-gray);
}

.nav__items {
	display: flex;
	flex-wrap: wrap;
	gap: var(--size-space);
	max-width: var(--size-container-width);
	margin: 0 auto;	
}

@media only screen and (max-width: 770px) {
	.nav__items {
		padding-inline-start: var(--size-small-container-padding);
		padding-inline-end: var(--size-small-container-padding);
	}
}

.nav__items--centered {
	place-content: center;
}

.nav__item {
	color: var(--color-blue);
	font-weight: bold;
}