.container {
	max-width: var(--size-container-width);
	margin: 0 auto;
	padding-block-end: var(--size-space);
	padding-block-start: var(--size-space);
}

@media only screen and (max-width: 770px) {
	.container {
		padding-inline-start: var(--size-space);
		padding-inline-end: var(--size-space);
	}
}