.container {
	max-width: 70ch;
	margin: 0 auto;
	padding-block-end: var(--size-space);
	padding-block-start: var(--size-space);
}

@media(max-width: 70ch) {
	.container {
		padding-inline-start: var(--size-space);
		padding-inline-end: var(--size-space);
	}
}